* {
  box-sizing: border-box;
}

a {
	text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover {
  color: #555555;
}

.sidebar {
  height: 100vh;
  background-color: #333;
  box-shadow: 0 0 10px #555;
}

.prompt {
	font-family: "Prompt";
	font-weight: 400;
}

.promptLight {
	font-family: "Prompt";
	font-weight: 300;
}

.header {
	text-align: center;
}

.appTitle {
  background-color: #333;
  color: #fafafa;
  /*color: #4ab2dd;*/
  padding-top: 5px;
  padding-bottom: 10px;
}

.cardTitle {
  margin-left: 20px;
  display: inline-block;
  /*color: #4ab2dd;*/
}

.pomodoro {
  /*margin-left: 1px;*/
  /*margin-right: 1px;*/
	background-color: #fafafa;
	padding-top: 5px;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
}

.pushRight {
	margin-left: 20px;
}

.pushDown1 {
	margin-top: 55px;
	margin-bottom: 5px;
}

.pushDown2 {
  height: 60px;
	margin-top: 10px;
	padding-bottom: 20px;
}

.time {
	font-size: 4em;
  font-family: 'Droid Sans Mono', monospace;
}

.btnText {
  font-weight: 400;
  font-size: 0.9em;
  padding: 10px;
  letter-spacing: 0.4px;
	cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.btnText:hover {
  color: #4ab2dd;
}

.whiteButtonText {
  color: #fafafa;
  font-size: 0.85em;
  font-weight: 400;
}

.btnWidth {
  width: calc(100% / 3);
  display: inline-block;
}

.btnColor1 {
	background-color: #4ab2dd;
	cursor: pointer;
  width: calc(100% / 3);
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -ms-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.btnColor1:hover {
	background-color: #5bc3ee;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btnColor2 {
	background-color: #e8516c;
	cursor: pointer;
  width: calc(100% / 3);
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -ms-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.btnColor2:hover {
	background-color: #f9627b;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btnColor3 {
	background-color: #9e9ecb;
	cursor: pointer;
  width: calc(100% / 3);
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -ms-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.btnColor3:hover {
	background-color: #afafdc;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.links {
  width: 100%;
	position: absolute;
	bottom: 10px;
  left: 0;
  font-family: 'Prompt';
  font-weight: 300;
}

.questionMark {
  margin-right: 15px;
}

.whatIsPomodoro, .madeWithLove {
  color: #eee;
}

.whatIsPomodoro:hover, .madeWithLove:hover, .whatIsPomodoro:visited, .madeWithLove:visited, .whatIsPomodoro:link, .madeWithLove:link {
	text-decoration: none;
  color: #eee;
}
